@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

body {
	background-color: #0c0c0c;
	font-family: "Cutive Mono", monospace;
	color: #fff;
	height: 100vh;
	overflow: hidden;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: opacity(0.4) brightness(60%);
	height: 100vh;
	width: 100%;
	object-fit: cover;
}

h1,
h2,
h3 {
	@include title;
	margin: 0.8rem;
	font-family: "Kanit", sans-serif;
}

.resetStyles {
	list-style: none;
	text-decoration: none;
	color: inherit;
	margin: 0;
	padding: 0;
}

// transitions

.fade-enter {
	opacity: 0;
	z-index: 1;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in-out;
}

.fade-exit {
	opacity: 1;
}

.fade-exit.fade-exit-active {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}
